
<ul>
    <li><a href="#">Cameras</a></li>
    <li><a href="#">Computers</a>
        <ul>
            <li><a href="#">Laptops</a>
                <ul>
                    <li><a href="#">Apple</a></li>
                    <li><a href="#">Asus</a></li>
                    <li><a href="#">Dell</a></li>
                    <li><a href="#">Lenovo</a></li>
                    <li><a href="#">HP</a></li>
                </ul>
            </li>
            <li><a href="#">Desktops</a></li>
        </ul>
    </li>
    <li><a href="#">Cell Phones</a></li>
 </ul>