<ul>
    <li><a href="#">Family</a></li>
    <li><a href="#">Romance</a>
        <ul>
            <li><a href="#">Romantic Comedy</a></li>
            <li><a href="#">Romantic Drama</a></li>
        </ul>
    </li>
 </ul>